__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
# *.db
*.sqlite3
.DS_Store
node_modules/
.next/
.vercel/
.env*.local

# Backend
backend/.env
backend/.venv/
backend/ck-gp*
__pycache__/
*.pyc
